:root {
  --blue: #00794a;
  --green: #00794a;
}
body {
  background: linear-gradient(0deg, var(--blue), var(--green));
  min-height: 100vh;
  padding: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: white;
  text-align: center;
}
a {
  color: #0075ff;
  text-decoration: none;
}
a:hover {
  color: orange;
}
button {
  border: none;
  outline: none;
  padding: 3pt 1ex;
  border-radius: 1ex;
  transition: 0.2s;
  color: white;
  cursor: pointer;
}
